# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/
env/
ENV/

# PyCharm
.idea/
*.iml

# Flask / MySQL stuff
instance/
*.db
static/videos/
static/images/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env